* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

a:active, a:visited, a:enabled {
    color: black;
}

.container {
    height: fit-content;
    display: flex;
}

.input {
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid 1px black;
    outline: none;
    background-color: lightgray;
    text-indent: 7px;
    height: 25px;
    padding: 5px;
}

.output:disabled {
    color: black;
}

.output {
    margin-bottom: 20px;
    border-radius: 4px;
    border-style: none;
    outline: none;
    background-color: lightgray;
    text-indent: 7px;
    height: 25px;
    padding: 5px;
}

.pitagoras {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0vh;
    background-color: lightgray;
    width: 80vw;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
}

.pitagorasdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 179px;
    background-color: white;
    padding: 20px;
    border: black solid 2px;
    color: black;
    border-radius: 10px;
}

#outputdiv {
    margin-top: 20px;
}

.calc {
    position: relative;
    margin: auto;
    height: 40px;
    width: 80px;
    border-radius: 4px;
    border: solid gray 2px;
    transition: all .4s ease;
}

.calc:hover {
    background-color: lightgray;
    border-color: black;
}

.calc:active {
    border: none;
}

#buttondiv {
    height: 100%;
    display: flex;
}

.titulo {
    margin-left: auto;
    margin-right: auto;
}

.titulodiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 30px;
}

.subtitulo {
    margin: auto;
    max-width: 450px;
}

.lista {
    display: flex;
    margin: auto;
    width: 80vw;
    margin-bottom: 30vh;
    margin-top: 20px;
    justify-content: center;
    gap: 100px;
}

.lista-mat {
    height: 80vh;
    border-radius: 10px;
    width: 400px;
    background-color: aquamarine;
    padding: 30px;
    overflow: scroll;
}

.titulomatematica {
    margin-bottom: 30px;
}

.lista-fis {
    height: 80vh;
    border-radius: 10px;
    width: 400px;
    background-color: aqua;
    padding: 30px;
}

.link-list {
    margin-left: 1vw;
}