* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.container {
    height: fit-content;
    display: flex;
}

.input {
    margin-bottom: 20px;
    border-radius: 4px;
    border-style: none;
    outline: none;
    background-color: aliceblue;
    text-indent: 7px;
    height: 25px;
    padding: 5px;
}

.output:disabled {
    color: black;
}

.output {
    margin-bottom: 20px;
    border-radius: 4px;
    border-style: none;
    outline: none;
    background-color: aliceblue;
    text-indent: 7px;
    height: 25px;
    padding: 5px;
}

.pitagoras {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0vh;
    background-color: lightgray;
    width: 80vw;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
}

.pitagorasdiv {
    position: flex;
    margin: auto;
    width: 179px;
}

#outputdiv {
    margin-top: 20px;
}

.calc {
    position: relative;
    margin: auto;
    height: 40px;
    width: 80px;
    border-radius: 4px;
    border: solid gray 2px;
    transition: all .4s ease;
}

.calc:hover {
    background-color: lightgray;
    border-color: black;
}

.calc:active {
    border: none;
}

#buttondiv {
    height: 100%;
    display: flex;
}

.titulo {
    margin-left: auto;
    margin-right: auto;
}

.titulodiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 30px;
}

.subtitulo {
    margin: auto;
    max-width: 450px;
}

.lista {
    display: flex;
    margin: auto;
    width: 80vw;
    margin-bottom: 8vh;
    margin-top: 10px;
}

.lista-mat {
    height: 400px;
    border-radius: 10px;
    width: 200px;
    background-color: aquamarine;
    margin: auto;
    padding: 30px;
    display:flex;
    flex-direction: column;
}

.titulomatematica {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 30px;
}